@mixin font-face(
  $style-name,
  $file,
  $family,
  $font-weight,
  $font-style,
  $category: ""
) {
  $filepath: "@fonts/" + $file;
  @font-face {
    font-family: "#{$family}";
    src: url(#{$filepath}.eot);
    src: url(#{$filepath}.eot?#iefix) format("embedded-opentype"),
    url(#{$filepath}.woff) format("woff"),
    url(#{$filepath}.ttf) format("truetype"),
    url(#{$filepath}.svg?#{$style-name}) format("svg");
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
  %#{$style-name} {
    font: {
      @if $category != "" {
        family: "#{$style-name}", #{$category};
      } @else {
        family: "#{$style-name}";
        weight: normal;
      }
    }
  }
}
